* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #f3fbf8;
  height: 100vh;
}
.d_flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
.search_buy_img {
  position: relative;
  margin: 0 10px;
  background-color: #f3fbf8;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.search_buy_img:hover {
  background-color: #09a66d;
}
#header {
  background-color: white;
  height: 150px;
}
.header_nav {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}
.header_nav_item {
  margin-right: 10px;
}
.header_nav_item:hover {
  color: #09a66d;
}
.register_button {
  background-color: #09a66d;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}
.register_button:hover {
  background-color: white;
  color: #09a66d;
  border: 2px solid #09a66d;
}
.menu {
  padding-top: 50px;
}
.cart_search {
  position: absolute;
  left: -2px;
  top: 7px;
}
#questions {
  margin-top: 50px;
}
details > summary {
  padding: 20px;
  width: 1000px;
  background-color: white;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #09a66d;
  cursor: pointer;
  margin: 10px auto;
  font-family: "Rosario", sans-serif;
  font-size: 20px;
}

details > p {
  background-color: white;
  padding: 20px;
  margin: 10px auto;
  width: 1000px;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #bbbbbb;
  font-size: 20px;
  font-family: "Rosario", sans-serif;
}
details > summary:hover {
  background-color: #f3fbf8;
}
.questions-ask {
  text-align: center;
  font-size: 40px;
  font-family: "Rosario", sans-serif;
  margin-top: 30px;
}
.questions-submit {
  display: block;
  width: 250px;
  margin: 30px auto;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  font-size: 30px;
  border: none;
  box-shadow: 1px 1px 2px #09a66d;
  cursor: pointer;
}
.questions-submit:hover {
  background-color: #f3fbf8;
}
.questions-form {
  display: none;
  width: 1100px;
  height: 840px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -550px;
  margin-top: -420px;
  background-color: #f3fbf8;
  border-radius: 16px;
  border: 2px solid #09a66d;
  box-shadow: 3px 3px 20px #09a66d;
  font-family: "Rosario", sans-serif;
}
.questions-form-block {
  margin: 80px;
}
.label-for {
  font-size: 40px;
}
#email {
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  width: 550px;
  height: 50px;
  margin-bottom: 30px;
  border: 1px solid #09a66d;
}
#email:focus-visible {
  outline: 2px solid #09a66d;
}
#message {
  margin-top: 20px;
  width: 700px;
  height: 300px;
  font-size: 30px;
  padding: 10px;
  border: 1px solid #09a66d;
}
#message:focus-visible {
  outline: 2px solid #09a66d;
}
.send-submit {
  display: block;
  width: 250px;
  margin: 30px auto;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  font-size: 30px;
  border: none;
  box-shadow: 3px 3px 10px #09a66d;
  cursor: pointer;
}
.send-submit:hover {
  background-color: #f3fbf8;
}
#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.close {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #09a66d;
  font-size: 35px;
  color: #09a66d;
  cursor: pointer;
}
.alert {
  display: none;
}
.alert-text {
  color: #09a66d;
  text-align: center;
  font-size: 20px;
}
.alert-mail {
  display: none;
  color: red;
  font-size: 20px;
}
.alert-message {
  display: none;
  color: red;
  font-size: 20px;
}
