
a {
  color: inherit;
  text-decoration: none;
}
.d_flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
.search_buy_img {
  position: relative;
  margin: 0 10px;
  background-color: #f3fbf8;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.search_buy_img:hover {
  background-color: #09a66d;
}
#header {
  height: 150px;
  padding-top: 40px;
}
.header_nav {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}
.header_nav_item {
  margin-right: 10px;
}
.header_nav_item:hover {
  color: #09a66d;
}
.register_button {
  background-color: #09a66d;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}
.register_button:hover {
  background-color: white;
  color: #09a66d;
  border: 2px solid #09a66d;
}
.login_button {
  background-color: white;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #09a66d;
  margin-left: 20px;
  color: #09a66d;
  cursor: pointer;
}
.login_button:hover {
  background-color: #09a66d;
  color: white;
  border: none;
}
.cart_search {
  position: absolute;
  left: -2px;
  top: 7px;
}
